body {
  margin: 0px;
  padding: 5px;
  color: #eea0a0; 
  background-image:  url('cyber sec.jpg');
}

nav {
  border-bottom-width: 2px;
  border-bottom-color: rgb(89, 170, 207);
  border-bottom-style: solid;
  padding: 10px;
  margin-bottom: 15px;
  font-family:'Courier New', Courier, monospace; 
  color:rgb(89, 170, 207); 
}

label, input, textarea, button {
  display: block;
   
}

p {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  color: red; 
}

form {
  font-family: 'Times New Roman', Times, serif;
  color: green;  
}