
     body {
            background-color:bisque; 
        }
        a {
            color:#000000; 
            text-decoration: none; 
        }

            input, button {
                width: 80%; 
                border: 1px solid #555; 
                padding: 5px; 
            }

            .logo {
                color: blue; 
                font-size: 30px; 
                font-family: Helvetica; 
            }

            p {
                font-family:'Times New Roman', Times, serif; 
            }

            h4 {
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
            }

            h3 {
                font-family: 'Helvetica', sans-serif; 
            }